{% load static %}
<div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content scrollbar">
      <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
        <h5 class="text-secondary">Добро пожаловать {{ request.user.username }}</h5>
        <li class="nav-item">
          <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Управление сайтом</div>
            <div class="col ps-0">
              <hr class="mb-0 navbar-vertical-divider" />
            </div>
          </div>

          <a class="nav-link" href="{% url 'crm_index' %}" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-rocket"></span></span><span class="nav-link-text ps-1">Главная</span></div>
          </a>

          <a class="nav-link" href="{% url 'crm_index_billings' %}" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-edit"></span></span><span class="nav-link-text ps-1">Лиды (заявки)</span></div>
          </a>

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-box"></span></span><span class="nav-link-text ps-1">Заказы</span></div>
          </a>

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-tags"></span></span><span class="nav-link-text ps-1">Категории</span></div>
          </a> -->
          
          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-bolt"></span></span><span class="nav-link-text ps-1">Товары</span></div>
          </a> -->

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="far fa-comment-dots"></span></span><span class="nav-link-text ps-1">Отзывы на товары</span></div>
          </a> -->

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-sun"></span></span><span class="nav-link-text ps-1">Промокоды</span></div>
          </a> -->

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-user-plus"></span></span><span class="nav-link-text ps-1">Пользователи</span></div>
          </a>

          <a class="nav-link" href="{% url 'crm_kanban_index' %}" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fab fa-trello"></span></span><span class="nav-link-text ps-1">Задачник</span></div>
          </a>
        </li>

        <li class="nav-item">
          <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Отчеты CRM</div>
            <div class="col ps-0">
              <hr class="mb-0 navbar-vertical-divider" />
            </div>
          </div>

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-sync-alt"></span></span><span class="nav-link-text ps-1">Отчеты по продажам</span></div>
          </a>

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-building"></span></span><span class="nav-link-text ps-1">Отчеты по складам</span></div>
          </a> -->

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-donate"></span></span><span class="nav-link-text ps-1">Отчеты по кассам</span></div>
          </a> -->

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <span class="far fa-clock"></span>
              </span><span class="nav-link-text ps-1">Отчет по сменам</span>
            </div>
          </a> -->

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
              <span class="fas fa-sitemap"></span>
            </span>
              <span class="nav-link-text ps-1">Отчет посещаемости сайта</span>
            </div>
          </a>

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-money-bill-wave"></span></span><span class="nav-link-text ps-1">Отчет по расходам</span></div>
          </a>
 
          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-money-bill-wave"></span></span><span class="nav-link-text ps-1">Отчет по приходам</span></div>
          </a>

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-money-bill-wave"></span></span><span class="nav-link-text ps-1">Отчет по зарплатам</span></div>
          </a>

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="far fa-money-bill-alt"></span></span><span class="nav-link-text ps-1">Отчет по оборотам</span></div>
          </a> -->

          <!-- Отчет по маржинальности -->
          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-money-check"></span></span><span class="nav-link-text ps-1">Маржинальность</span></div>
          </a> -->
        </li>

        <!-- <li class="nav-item">
          <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Поставщики</div>
            <div class="col ps-0">
              <hr class="mb-0 navbar-vertical-divider" />
            </div>
          </div>

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-people-arrows"></span></span><span class="nav-link-text ps-1">Поставщики</span></div>
          </a>

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-money-check"></span></span><span class="nav-link-text ps-1">Долг Поставщикам</span></div>
          </a>
        </li> -->

        <li class="nav-item">
          <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Настройка CRM</div>
            <div class="col ps-0">
              <hr class="mb-0 navbar-vertical-divider"/>
            </div>
          </div>

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-city"></span></span><span class="nav-link-text ps-1">Города</span></div>
          </a> -->

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="far fa-edit"></span></span><span class="nav-link-text ps-1">Приход</span></div>
          </a>
         
          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-tags"></span></span><span class="nav-link-text ps-1">Оборот</span></div>
          </a>
       
          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-dollar-sign"></span></span><span class="nav-link-text ps-1">Маржинальность (скоро)</span></div>
          </a> -->

          <a class="nav-link" href="{% url 'crm_employee_index' %}" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
              <span class="fas fa-user-plus"></span></span><span class="nav-link-text ps-1">Персонал</span>
            </div>
          </a>

          <a class="nav-link" href="{% url 'crm_group_index' %}" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
              <span class="fas fa-id-card-alt"></span></span><span class="nav-link-text ps-1">Группы разрешений</span>
            </div>
          </a>

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
              <span class="far fa-user-circle"></span></span><span class="nav-link-text ps-1">Посещаемость</span>
            </div>
          </a> -->

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-braille"></span></span><span class="nav-link-text ps-1">Аналитика (Скоро)</span></div>
          </a>

          <!-- <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
              <span class="fas fa-headphones"></span></span><span class="nav-link-text ps-1">Телефония (Скоро)</span>
            </div>
          </a> -->

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
              <span class="fab fa-telegram"></span></span><span class="nav-link-text ps-1">Telegram (Скоро)</span>
            </div>
          </a>
        </li>

        <li class="nav-item">
          <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Настройки и обслуживание системы</div>
            <div class="col ps-0">
              <hr class="mb-0 navbar-vertical-divider" />
            </div>
          </div>
          
  
          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
              <span class="fas fa-globe"></span></span><span class="nav-link-text ps-1">Настройка CRM</span>
            </div>
          </a>    
 
          
          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
              <span class="far fa-calendar-check"></span></span><span class="nav-link-text ps-1">Последние действия</span>
            </div>
          </a> 
    
       
          <a class="nav-link" href="{% url 'crm_index' %}" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
              <span class="fas fa-external-link-alt"></span></span><span class="nav-link-text ps-1">Экпорт данных CRM (Скоро)</span>
            </div>
          </a>       
        </li>
        
        <li class="nav-item">
          <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">CMS модули</div>
            <div class="col ps-0">
              <hr class="mb-0 navbar-vertical-divider" />
            </div>
          </div>

          <a class="nav-link" href="" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
              <span class="fas fa-sun"></span></span><span class="nav-link-text ps-1">Баннеры</span>
            </div>
          </a> 


        </li>

        <li class="nav-item">
          <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Поддержка</div>
            <div class="col ps-0">
              <hr class="mb-0 navbar-vertical-divider" />
            </div>
          </div>
          <a class="nav-link" href="https://t.me/Toktorov2" role="button">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <span class="fas fa-rocket"></span></span><span class="nav-link-text ps-1">Написать в поддержку</span>
            </div>
          </a>
        </li>
      </ul>

      <div class="settings mb-3">
        <div class="card shadow-none">
          <div class="card-body alert mb-0" role="alert">
            <div class="btn-close-falcon-container"><button class="btn btn-link btn-close-falcon p-0" aria-label="Close" data-bs-dismiss="alert"></button></div>
            <div class="text-center"><img src="{% static 'crm/assets/img/icons/spot-illustrations/navbar-vertical.png' %}" alt="" width="80" />
              <p class="fs-11 mt-2">Вам нравится наш CRM? <br />Поставьте нам хорошую оценку с уважением <a href="{% url 'index' %}">Codex</a></p>
              <div class="d-grid"><a class="btn btn-sm btn-primary" href="https://instagram.com/codex_kg/" target="_blank">Отзыв</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>