{% load static %}
<footer class="footer__area-two fix">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <div class="footer__widget">
                        <div class="footer__logo">
                            <a href="index.html"><img src="{% static 'assets/img/logo/logo-white.svg' %}" alt="logo"></a>
                        </div>
                        <div class="copyright-text copyright-text-two">
                            <p>© 2024 <a href="index.html">ООО «Pxoenixlogistic».</a> Все права защищены.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title footer__widget-title-two">Phoenix</h4>
                        <div class="footer__link footer__link-two">
                            <ul class="list-wrap">
                                <li><a href="#">О Phoenix</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">Галерея</a></li>
                                <li><a href="#">Партнеры</a></li>
                                <li><a href="#">Наши услуги</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title footer__widget-title-two">Контакты</h4>
                        <div class="footer__link footer__link-two">
                            <ul class="list-wrap">
                                <li><a href="#">Наш адрес</a></li>
                                <li><a href="#">Наш email</a></li>
                                <li><a href="#">Наши контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title footer__widget-title-two">Мы в сети</h4>
                        <div class="footer__social footer__social-two">
                            <ul class="list-wrap">
                                <li><a href="https://www.telegram.com/" target="_blank"><i class="fab fa-telegram"></i></a></li>
                                <li><a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer__link footer__link-two">
                            <ul class="list-wrap">
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>