{% extends 'queenbee/include/homepage.html' %}
{% load static custom_filters %}
{% block content %}
    <!-- ===============================================--><!--    Main Content--><!-- ===============================================-->
    <main class="main" id="top">
        <div class="container" data-layout="container">
          {% include 'queenbee/include/header.html' %}
  
            <div class="row g-0">
                <div class="col-lg-8 pe-lg-2">
                  <div class="card mb-3">
                    <div class="card-header bg-body-tertiary">
                      <h6 class="mb-0">Лид</h6>
                    </div>
                    <div class="card-body">
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                          <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                            {% if field.help_text %}
                              <div class="form-text">{{ field.help_text }}</div>
                            {% endif %}
                          </div>
                        {% endfor %}
                        <div class="d-flex">
                          <button type="submit" class="btn btn-primary">Сохранить</button>
                          {% if billing.id %}
                          <button type="submit" name="delete" class="btn btn-danger" style="margin-left: 10px;">Удалить</button>
                          {% endif %}
                        </div>
                      </form>
                    </div>
                </div>
                </div>
              </div>
            </div>
            {% include 'queenbee/include/footer.html' %}
        </div>
      </main><!-- ===============================================--><!--    End of Main Content--><!-- ===============================================-->
{% endblock %}