<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Phoenix - FAQ</title>
    <meta name="description" content="Logistex - Transport & Logistics HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/odometer.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/default-icons.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="theme-red">

    <!--Preloader-->
    <div id="preloader">
        <div class="tg-preloader-block">
            <div class="tg-spinner-eff">
                <div class="tg-bar tg-bar-top"></div>
                <div class="tg-bar tg-bar-right"></div>
                <div class="tg-bar tg-bar-bottom"></div>
                <div class="tg-bar tg-bar-left"></div>
            </div>
        </div>
    </div>
    <!--Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header class="transparent-header">
        <div class="tg-header__area tg-header__area-three">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tgmenu__wrap">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo02.svg" alt="Logo"></a>
                            </div>
                            <div class="logo d-none">
                                <a href="index.html"><img src="assets/img/logo/logo02.svg" alt="Logo"></a>
                            </div>
                            <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-xl-flex">
                                <ul class="navigation">
                                    <li><a href="">Главная</a></li>
                                    <li><a href="about.html">о компании</a></li>
                                    <li class="active"><a href="faq.html">Справочная информация</a></li>
                                    <li><a href="contact.html">контакты</a></li>
                                </ul>
                            </div>
                            <div class="tgmenu__action tgmenu__action-three d-none d-md-flex">
                                <ul class="list-wrap">
                                    <li class="header-btn">
                                        <a href="contact.html" class="btn btn-three">отслеживание посылок</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mobile-nav-toggler mobile-nav-toggler-two">
                                <i class="tg-flaticon-menu-1"></i>
                            </div>
                        </div>

                        <!-- Mobile Menu  -->
                        <div class="tgmobile__menu">
                            <nav class="tgmobile__menu-box">
                                <div class="close-btn"><i class="tg-flaticon-close-1"></i></div>
                                <div class="nav-logo">
                                    <a href="index.html"><img src="assets/img/logo/logo02.svg" alt="Logo"></a>
                                </div>
                                <div class="tgmobile__menu-outer">
                                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                </div>
                                <div class="social-links">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-telegram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="tgmobile__menu-backdrop"></div>
                        <!-- End Mobile Menu -->

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area-end -->

    <!-- main-area -->
    <main class="fix">

        <!-- faq-area -->
        <section class="faq__area bg-gray section-py-140">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-8">
                                <div class="section__title mb-50">
                                    <h2 class="title">
                                        Популярные вопросы <br><span class="main-color-text">по логистике с Китаем:</span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="faq__wrap-two">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Работаете ли вы с юридическими лицами по доставке грузов из Китая?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Да, мы специализируемся именно на работе с юридическими лицами. Мы заключаем договор,предоставляем контрагента и выдаем полный пакет закрывающих документов. С нами ваш бизнес будет защищен.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            От какой минимальной партии или суммы можно начать работу?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Gorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam nulla facilisi etiam aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit empor incididunt ut labore et dolore magna uam pellentesque nec nam nulla facilisi etiam aliquam.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Что необходимо для начала сотрудничества?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Gorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam nulla facilisi etiam aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit empor incididunt ut labore et dolore magna uam pellentesque nec nam nulla facilisi etiam aliquam.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Какие у меня будут гарантии?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Gorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam nulla facilisi etiam aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit empor incididunt ut labore et dolore magna uam pellentesque nec nam nulla facilisi etiam aliquam.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Страхуются ли грузы и в каких случаях она вступает в силу?
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Gorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam nulla facilisi etiam aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit empor incididunt ut labore et dolore magna uam pellentesque nec nam nulla facilisi etiam aliquam.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Куда приезжают грузы в РФ?
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Gorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam nulla facilisi etiam aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit empor incididunt ut labore et dolore magna uam pellentesque nec nam nulla facilisi etiam aliquam.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Работаете ли вы с НДС?
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Gorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam nulla facilisi etiam aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit empor incididunt ut labore et dolore magna uam pellentesque nec nam nulla facilisi etiam aliquam.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Работаете ли вы с юридическими лицами по доставке грузов из Китая?
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Gorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam nulla facilisi etiam aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit empor incididunt ut labore et dolore magna uam pellentesque nec nam nulla facilisi etiam aliquam.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- faq-area-end -->

    </main>
    <!-- main-area-end -->

    <!-- footer-area -->
    <footer class="footer__area-two fix">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-6">
                        <div class="footer__widget">
                            <div class="footer__logo">
                                <a href="index.html"><img src="assets/img/logo/logo-white.svg" alt="logo"></a>
                            </div>
                            <div class="copyright-text copyright-text-two">
                                <p>© 2024 <a href="index.html">ООО «Pxoenixlogistic».</a> Все права защищены.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__widget">
                            <h4 class="footer__widget-title footer__widget-title-two">Phoenix</h4>
                            <div class="footer__link footer__link-two">
                                <ul class="list-wrap">
                                    <li><a href="#">О Phoenix</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Контакты</a></li>
                                    <li><a href="#">Галерея</a></li>
                                    <li><a href="#">Партнеры</a></li>
                                    <li><a href="#">Наши услуги</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__widget">
                            <h4 class="footer__widget-title footer__widget-title-two">Контакты</h4>
                            <div class="footer__link footer__link-two">
                                <ul class="list-wrap">
                                    <li><a href="#">Наш адрес</a></li>
                                    <li><a href="#">Наш email</a></li>
                                    <li><a href="#">Наши контакты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer__widget">
                            <h4 class="footer__widget-title footer__widget-title-two">Мы в сети</h4>
                            <div class="footer__social footer__social-two">
                                <ul class="list-wrap">
                                    <li><a href="https://www.telegram.com/" target="_blank"><i class="fab fa-telegram"></i></a></li>
                                    <li><a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="footer__link footer__link-two">
                                <ul class="list-wrap">
                                    <li><a href="#">Terms of Service</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->



    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/svg-inject.min.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/jquery.marquee.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        SVGInject(document.querySelectorAll("img.injectable"));
    </script>
</body>

</html>