{% extends 'queenbee/include/homepage.html' %}
{% load static %}
{% block content %}

<!-- Kanban -->
<link rel="stylesheet" href="{% static 'crm/assets/css/kanban.css' %}">

<script>
    const csrfToken = '{{ csrf_token }}';
    const addListUrl = "{% url 'crm_add_list' board.id %}";
</script>

<main class="main" id="top">
    <div class="container" data-layout="container">
        {% include 'queenbee/include/header.html' %}

        <!-- Modal -->
        <div id="addListModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Добавить новый список</h2>

                <form id="addListForm">
                    {% csrf_token %}
                    <input type="text" name="title" id="listTitle" class="form-control addListForCanban"
                        placeholder="Название списка" required>
                    <button type="submit" class="add-list-btn">Добавить список</button>
                </form>
            </div>
        </div>

        <div class="row g-3 mb-3">
            <div class="col-12">
                <div class="kanban-board__header">
                    <div class="kanban-board__title">
                        <a href="{% url 'crm_kanban_index' %}" class="back-btn">Назад</a>
                        {{ board.title }}
                    </div>
                    <div style="display: flex; align-items: center; gap: 1rem;">
                        <div>
                            <input class="mz-switch-rounded" type="checkbox" id="mz-switch-rounded">
                            <label for="mz-switch-rounded" style="margin-bottom: -7px;"></label>
                        </div>
                        <button id="openAddListModal" class="add-list-btn">Добавить список Тест</button>
                    </div>
                </div>

                <div id="kanban-board-kanban" class="kanban-board">
                    {% for list in lists %}
                    <div id="list-{{ list.id }}" class="kanban-list" data-list-id="{{ list.id }}">
                        <h3>{{ list.title }}</h3>
                        <div class="kanban-cards sortable" data-list-id="{{ list.id }}">
                            {% for card in list.card_lists.all %}
                            <div class="kanban-card" data-card-id="{{ card.id }}">
                                <h4>{{ card.title }}</h4>
                                <!-- <p>ID: {{ card.id }}</p> -->
                                <p>{{ card.description|truncatewords:4 }}</p>
                                <!-- <button class="delete-card-btn">Удалить</button> -->
                            </div>
                            {% empty %}
                            <p class="no-tasks-message">Нет задач в этом списке</p>
                            {% endfor %}
                        </div>

                        <!-- Модальное окно для добавления карточки -->
                        <div id="addCardModal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <h2>Добавить новую карточку</h2>
                                <form id="addCardForm">
                                    {% csrf_token %}
                                    <input type="text" name="title" placeholder="Название" required><br>
                                    <textarea name="description" rows="4" placeholder="Описание"></textarea><br>
                                    <input type="datetime-local" name="due_date" placeholder="Срок выполнения"><br>
                                    <select name="members" multiple>
                                        {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.username }}</option>
                                        {% endfor %}
                                    </select><br>
                                    <button type="submit">Добавить карточку</button>
                                </form>
                            </div>
                        </div>

                        <!-- Модальное окно для просмотра карточки -->
                        <div id="viewCardModal" class="modal">
                            <div class="modal-content">
                                <span id="closeIcon" class="close">&times;</span>
                                <h2 id="cardTitle"></h2>
                                <p id="cardDescription"></p>
                                <p><strong>Срок выполнения:</strong> <span id="cardDueDate"></span></p>
                                <p><strong>Создан пользователем:</strong> <span id="cardUser"></span></p>
                                <p><strong>Дата создания:</strong> <span id="cardCreatedAt"></span></p>
                                <p><strong>Обновлено:</strong> <span id="cardUpdatedAt"></span></p>
                                <p><strong>Вложения:</strong></p>
                                <ul id="cardAttachments"></ul>
                                <p><strong>Участники:</strong></p>
                                <ul id="cardMembers"></ul>
                                <button id="closeCardModal" class="close-btn">Закрыть</button>
                                <button id="closeCardModal" class="close-btn">Изменить</button>
                                <button class="delete-card-btn" data-card-id="{{ card.id }}">Удалить</button>
                            </div>
                        </div>

                        <!-- Кнопка для открытия модального окна -->
                        <button class="add-card-btn" data-list-id="{{ list.id }}">Добавить карточку</button>
                    </div>
                    {% endfor %}
                </div>

                <div id="kanban-board-table" class="kanban-board-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Название списка</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in lists %}
                            <tr data-list-id="{{ list.id }}">
                                <td>
                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                        <b>{{ list.title }}</b>
                                        <button class="add-card-btn" data-list-id="{{ list.id }}">
                                            Добавить карточку
                                        </button>

                                        <!-- Модальное окно для добавления карточки -->
                                        <div id="addCardModal-{{ list.id }}" class="modal">
                                            <div class="modal-content">
                                                <span class="close" data-list-id="{{ list.id }}">&times;</span>
                                                <h2>Добавить новую карточку</h2>
                                                <form class="addCardForm" data-list-id="{{ list.id }}">
                                                    {% csrf_token %}
                                                    <input type="text" name="title" placeholder="Название" required><br>
                                                    <textarea name="description" rows="4" placeholder="Описание"></textarea><br>
                                                    <input type="datetime-local" name="due_date" placeholder="Срок выполнения"><br>
                                                    <select name="members" multiple>
                                                        {% for user in users %}
                                                        <option value="{{ user.id }}">{{ user.username }}</option>
                                                        {% endfor %}
                                                    </select><br>
                                                    <button type="submit">Добавить карточку</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-cards sortable" data-list-id="{{ list.id }}">
                                        {% for card in list.card_lists.all %}
                                        <div class="table-card" data-card-id="{{ card.id }}">
                                            <img width="20" src="https://icons.veryicon.com/png/o/miscellaneous/linear-icon-45/hamburger-menu-4.png" alt="">
                                            <b>✅ {{ card.title }}</b>
                                            <p>{{ card.description|truncatewords:4 }}</p>
                                        </div>
                                        {% empty %}
                                        <p class="no-tasks-message">Нет задач в этом списке</p>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{% static 'crm/assets/js/kanban.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

{% endblock %}