{% extends 'queenbee/include/homepage.html' %}
{% load static %}
{% block content %}

<style>
.kanban-board {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
}

.kanban-board__container {
    background-color: #f4f6f8;
    padding: 10px;
    border-radius: 8px;
    min-width: 250px;
    flex-grow: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Более глубокая тень */
}

.kanban-list {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); /* Улучшенная тень */
}

.kanban-card {
    background-color: #fffbf0;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Более сильная тень */
    color: black; /* Текст становится черным */
    text-decoration: none; /* Убираем подчеркивание */
}

.kanban-card h4 {
    color: black; /* Заголовки черные */
    text-decoration: none; /* Убираем линию под заголовком */
}

.kanban-card p {
    color: black; /* Описание тоже черное */
}

/* Для ссылок в заголовках */
.kanban-board__container a {
    color: black; /* Черный цвет для ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

.kanban-board__container a:hover {
    color: #0056b3; /* Добавляем эффект при наведении */
}
</style>
<main class="main" id="top">
    <div class="container" data-layout="container">
        {% include 'queenbee/include/header.html' %}
        <div class="row g-3 mb-3">
            <div class="col-12">
                <!-- <h1>Kanban Доска</h1> -->
                <div class="kanban-board">
                    {% for board in boards %}
                    <div class="kanban-board__container">
                        <h2><a href="{% url 'crm_kanban_detail' board.id %}">{{ board.title }}</a></h2>
                        <div class="kanban-board__lists">
                            {% for list in board.lists.all %}
                            <div class="kanban-list">
                                <h3>{{ list.title }}</h3>
                                <div class="kanban-cards">
                                    {% for card in list.card_lists.all %}
                                    <div class="kanban-card">
                                        <h4>{{ card.title }}</h4>
                                        <p>{{ card.description }}</p>
                                        <p>Due: {{ card.due_date|date:"d M Y" }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
